<html>
    <head>
        <script src="/public/js/jquery-3.6.0.min.js"></script>    
        <!-- Load d3.js and c3.js -->
        <link href="/public/css/c3.min.css" rel="stylesheet">

<script src="/public/js/d3.v5.min.js" charset="utf-8"></script>
<script src="/public/js/c3.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
<script type="text/javascript" src="/public/js/jquery.tablesorter.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Portfolio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/dividends">Dividens</a>
                </li>
              </ul>
            </div>
          </nav>
        <main>

            <div class="container">
               <br>
                
                <div class="valuesOverview row">
                    <div class="col-6">
                        <div>
                            Verdi: <span id="current_value"></span> 
                        </div>
                        <div>
                            Dagens endring: <span id="today_change"></span> / <span id="today_change_p"></span> 
                        </div>
                     
                    </div>
                    <div class="col-6">
                        <div>
                            Starting value 01.01.2022: <span id="start_value"></span>
                        </div>
                        <div style="display: none">
                            Mål for 2022: 250 000.  <span id="goal_value"></span>
                        </div>
                        <div class="temp_hide">
                            Kjøp: <span id="deposit_value"></span>
                        </div>
                        <div class="temp_hide">
                            Utbytte: <span id="dividend_value"></span> 
                        </div>
                        <div class="temp_hide">
                            Salg: <span id="sales_value"></span> 
                        </div>
                        <div class="temp_hide">
                            Result: <span id="result_value"></span> / <span id="result_value_p"></span>
                        </div>
                    </div>
                </div>
                <br>
                
                <div class="grafOverView row">
                    <div class="col-6">
                        <button id="back_button" style="display: none;" onclick="generate_donut_chart()" type="button" class="btn btn-primary">Reset</button>
                        <div id="donut_chart">

                        </div>
                    </div>
                    <div class="col-6">
                        <div id="current_value_chart"></div>
                    </div>
                    
                </div>
                
                <div class="asset_overview" id="show_by_type">
                    <!-- STOCKS -->
                    <div class="row asset_row">
                        <div class="col-6">
                            <h1><i data-type="stocks" class="toggle_icon bi bi-caret-right"></i>Aksjer</h1>
                        </div>
                        <div class="col-6">
                            <div class="asset_numbers">
                                <span id="stocks_value"></span><br>
                                <span id="stocks_result"></span>
                            </div>
                        </div>
                        <div id="stocks_overview" class="col-12"></div>
                    </div>

                    <!-- CRYPTO-->
                    <div class="row asset_row">
                        <div class="col-6">
                            <h1><i data-type="crypto" class="toggle_icon bi bi-caret-right"></i>Crypto</h1>
                        </div>
                        <div class="col-6">
                            <div class="asset_numbers">
                                <span id="crypto_value"></span><br>
                                <span id="crypto_result"></span>
                            </div>
                        </div>
                        <div id="crypto_overview" class="col-12"></div>
                    </div>

                    <!-- FONDS-->
                    <div id="fond_row" class="row asset_row">
                        <div class="col-6">
                            <h1><i data-type="fonds" class="toggle_icon bi bi-caret-right"></i>Fond</h1>
                        </div>
                        <div class="col-6">
                            <div class="asset_numbers">
                                <span id="fonds_value"></span><br>
                                <span id="fonds_result"></span>
                            </div>
                        </div>
                        <div id="fonds_overview" class="col-12"></div>
                    </div>

                    <!-- ETF-->
                    <div class="row asset_row">
                        <div class="col-6">
                            <h1><i data-type="etf" class="toggle_icon bi bi-caret-right"></i>ETF</h1>
                        </div>
                        <div class="col-6">
                            <div class="asset_numbers">
                                <span id="etf_value"></span><br>
                                <span id="etf_result"></span>
                            </div>
                        </div>
                        <div id="etf_overview" class="col-12"></div>
                    </div>
            
                </div>
            </div>
           
<br>       
<br>       
<br>       
<br>
        </main>
      

    </body>
<script>

$(function(){
    initPortFolio();
    $('.toggle_icon').on('click', function(){
        toggle_overviews($(this).data('type')) 
    });
});

</script>
<script src="/public/js/portfolio_view_data.js"></script>    

<style>
        .valueDiv{
            font-size: 2em;;
        }
        .grafOverView, .asset_overview, .valuesOverview{
            border-bottom: solid 1px;
        }

        .asset_overview > .asset_row:not(:last-child){
            border-bottom: solid 1px;
        }
    
       
        .container{
            background-color: white;
        }

        .asset_numbers{
            float: right;
            font-size: 20px;
        }
        
        .asset_numbers > span{
            float: right;
        }
        #etf_overview, #stocks_overview, #fonds_overview, #crypto_overview, #fond_row{
            display: none;
        }
        /* #stock_result, #crypto_result, #fond_result, #etf_result{
            float:right;
            font-size: 20px;
        } */

        .temp_hide{
            display: none;
        }

        .c3-axis-x .tick {
   display: none;
}
    </style>
</html>